TRUSTCHAIN_HOME=/home/kali/TrustChain-SDN
FABRIC_SAMPLES_DIR=/home/kali/TrustChain-SDN/fabric-2.5.16/fabric-samples
POLICY_API_URL=http://localhost:5000/policy/policy001
ODL_URL=http://localhost:8181
ODL_USER=admin
ODL_PASSWORD=admin
ODL_NODE=openflow:1
ODL_APPLY=false
